:root {
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(7, 5, 5, 0.87);
  background-color: #f1e9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #d6d0c5;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

a {
  font-weight: 600;
  font-size: larger;
  color: #535bf2;
  text-decoration: inherit;
  padding: 0 5px 0 5px;
}
a:hover {
  color: #e5e5f1;
}

p {
  font-size: 1.7rem;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(226, 226, 221, 0.5);
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  font-family: "Poppins";
  font-weight: 400;
  border-bottom: black 2px solid;
  max-width: 40%;
}

.landing {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url(/imgs/salon1.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.landing-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  font-family: "Poppins";
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(236, 228, 228);
  padding-top: 80px;
}

.landing-nav h1 {
  font-size: 6.5em;
  border: 2px solid #1a1a1a;
  background: rgba(235, 229, 229, 0.5);
}
/* .landing-nav nav {
  margin-top: 20px;
}

.landing-nav Link:hover {
  border-bottom: #646cff 2px solid;
} */

.btn-class {
  width: 140px;
  height: 50px;
  background: linear-gradient(to top, #0f121a, #36383a, #545961);
  color: #fff;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(196, 189, 238, 0.5);
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: -10px;
}

.btn-class span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  color: white;
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 34px;
  transform: translateY(-50%);
}

.btn-class:hover .btn-text-one {
  top: -100%;
  border-bottom: none;
}

.btn-class:hover .btn-text-two {
  top: 50%;
  border-bottom: none;
}

#title,
nav {
  margin-left: 10px;
  color: white;
}
span {
  font-size: 1.4rem;
}

span:hover {
  border-bottom: #646cff 2px solid;
}

.labels {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
}

#email {
  margin-left: 3px;
}

.img-fit {
  max-width: 160%;
  max-height: 100%;
  padding-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background: #1a1a1a;
  opacity: 0.9;
}

.bookings {
  list-style: circle;
  font-size: 1.6rem;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 160%;
  border: 3px solid black;
  border-radius: 10px;
  background: #1a1a1a;
  opacity: 0.9;
  color: aliceblue;
  margin-top: auto;
}

.pad {
  padding: 0 20px;
}

button {
  border-radius: 5px;
  border: rgb(162, 136, 136) 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ebe5e5;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 2px;
}
button:hover {
  background: #6b70c6;
  border-color: #1a1a1a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Mobile Queries ____________________________________________________________________________________ */

@media screen and (max-width: 530px) {
  #title {
    font-size: 29px;
    margin-left: 55px;
    
  }

  #navBar {
    margin-left: 20px;
  }

  #home {
    margin-left: 20px;
  }

  #service-list {
    border: 2px solid red;
  }
}
