:root {
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(7, 5, 5, 0.87);
  background-color: #f1e9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: url(/salon1.jpg) no-repeat 50% fixed;
}

a {
  font-weight: 600;
  font-size: larger;
  color: #535bf2;
  text-decoration: inherit;
  padding: 0 5px 0 5px;
}
a:hover {
  color: #e5e5f1;
}

p {
  font-size: 1.2rem;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(226, 226, 221, 0.5);
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  font-family: "Poppins";
  font-weight: 400;
  border-bottom: black 2px solid;
  max-width: 40%;
}

#title,
nav {
  margin-left: 10px;
  color: white;
}
span {
  font-size: 1.4rem;
}

span:hover {
  border-bottom: #646cff 2px solid;
}

.img-fit {
  max-width: 160%;
  max-height: 100%;
  padding-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background: #1a1a1a;
  opacity: 0.9;
}

button {
  border-radius: 5px;
  border: rgb(162, 136, 136) 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e5e5f1;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
